body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.section {
    padding: 20px;
    margin: 20px;
}

/* nav */

.nav ul {
    list-style-type: none;
    padding: 0;
}

.nav ul li {
    display: inline;
    margin-right: 20px;
}

.nav ul li a {
    color: white;
    text-decoration: none;
}

/* home section */

#home {
    text-align: center;
    display: block;
    
}

#logo {
    max-width: 6%;
}

#home h1 {
    font-size: 50px;
    margin: 15px;
}

#home p {
    font-size: 20px;
    margin: 0;
}

/* nzsl section */

#nzsl {
    text-align: center;
    display: block;
    background-color: #dbdbdb;
    margin: 0;
}

#nzsl input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    max-width: 400px;
}

.sign-item {
    display: inline-block;
    transition: .3s ease;
}

.sign-item:hover {
    transform: scale(1.05);
    transition: .3s ease;
}

.sign-item img {
    max-width: 50%;
    border: 15px solid white;
    border-radius: 15px;
}

/* events section */

#events {
    text-align: center;
    display: block;
    margin: 0;
}

#eventList {
    text-decoration: none;
    list-style: none;
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;
}

#eventList li {
    background-color: #dbdbdb;
    margin: 25px;
    padding: 15px;
    width: 25%;
    display: inline-block;
    border-radius: 15px;
    transition: .3s ease;
}

#eventList li:hover {
    transform: scale(1.05);
    transition: .3s ease;
}

/* guestbook */

#guestbook h2 {
    text-align: center;
}

#commentsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#commentsList {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    padding: 0; 
    margin: 0;
    width: 100%;
    text-align: center;
}

#commentsList li {
    flex: 1 1 calc(33% - 1rem);
    box-sizing: border-box;
    padding: 0.5%;
    border-radius: 0.5rem;
    background-color: #dbdbdb;
    transition: .3s ease;
}

#commentsList li:hover {
    transform: scale(1.03);
    transition: .3s ease;
}

#createComment {
    text-align: center;
    display: block;
}

#createComment input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    max-width: 400px;
}

#createComment h4 {
    margin: 20px;
    padding: 0;
}

#createComment button {
    margin: 10px 0;
    padding: 10px;
}

/* register */

#register {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    background-color: #dbdbdb;
}

#register input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    max-width: 400px;
}

#register button {
    margin: 10px 0;
    padding: 10px;
    transition: .3s ease;
    background-color: white;
    border: 1px solid #333;
}

#register button:hover {
    transform: scale(1.05);
    transition: .3s ease;
}

/* login */

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

#login input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    max-width: 400px;
}

#login button {
    margin: 10px 0;
    padding: 10px;
}

/* footer */

footer {
    background-color: #333;
    text-align: center;
    margin: 0;
    padding: 10px;
    color: white;
}